[alias]
	adog = log --all --date-order --oneline --graph
	bdog = log --branches --date-order --oneline --graph
	dog = log --date-order --oneline --graph
	root = rev-parse --show-toplevel
[core]
	editor = vim
[credential]
	helper = store
[fetch]
	all = true
	prune = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[pull]
	ff = only
[push]
	autoSetupRemote = true
[remote "origin"]
	pruneTags = true
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpUser = samuel.estep@gmail.com
[user]
	email = sam@samestep.com
	name = Sam Estep
	signingkey = 2B42037F
