'*':
  'advanced-open-file':
    fuzzyMatch: true
    helmDirSwitch: true
  'atom-latex':
    hide_log_if_success: true
    preview_after_build: 'Do nothing'
  core:
    disabledPackages: [
      'exception-reporting'
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      'atom-latex'
      'latextools'
    ]
    restorePreviousWindowsOnStart: 'no'
    telemetryConsent: 'no'
  'keyboard-scroll':
    animate: false
  'platformio-ide-terminal':
    core:
      workingDirectory: 'Active File'
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
