body:
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'alt-<': 'window:focus-pane-on-left'
  'alt->': 'window:focus-pane-on-right'

'atom-workspace atom-text-editor:not(.mini)':
  'ctrl-alt-z': 'center-line:toggle'

'.advanced-open-file atom-text-editor':
  'ctrl-j': 'application:add-project-folder'

'atom-workspace':
  'alt-(': 'parinfer:toggle-mode'
  'alt-)': 'parinfer:disable'

# don't let Proto REPL block Advanced Open File
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'alt-cmd-o': 'unset!'

'atom-text-editor[data-grammar~="clojure"]':
  enter: 'lisp-paredit:newline'

'.platform-darwin atom-text-editor[data-grammar~="clojure"]':
  'cmd-i': 'lisp-paredit:indent'
  'ctrl-shift-m': 'lisp-paredit:expand-selection'
  'cmd-shift-x': 'jason:cut-sexp'
  'cmd-shift-c': 'jason:copy-sexp'
  'cmd-shift-v': 'jason:paste-sexp'
  'cmd-shift-delete': 'jason:delete-sexp'
  'cmd-shift-d': 'jason:delete-sexp'
  'cmd-shift-i': 'jason:indent-top-sexp'

'atom-text-editor[data-grammar~="latex"]':
  $: 'latextools:dollar-sign'
  '`': 'latextools:backquote'
  "'": 'latextools:quote'
  '"': 'latextools:double-quote'
  '{': 'latextools:ref-cite-keypress'
  ',': 'latextools:ref-cite-keypress'

'atom-text-editor[data-grammar~="idris"]':
  'ctrl-alt-y': 'language-idris:type-of'
  'ctrl-alt-p': 'language-idris:proof-search'
  'ctrl-alt-enter': 'language-idris:open-repl'
