'.advanced-open-file atom-text-editor':
  'ctrl-j': 'application:add-project-folder'
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'alt-cmd-o': 'unset!'
'atom-text-editor[data-grammar~="latex"]':
  $: 'latextools:dollar-sign'
  '`': 'latextools:backquote'
  "'": 'latextools:quote'
  '"': 'latextools:double-quote'
  '{': 'latextools:ref-cite-keypress'
  ',': 'latextools:ref-cite-keypress'
body:
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-alt-[': 'window:focus-pane-on-left'
  'ctrl-alt-]': 'window:focus-pane-on-right'
